extends layout

block content
    h1 Title: #{book.title}

    p #[strong Author:]
        a(href=book.author.url) #{book.author.name}
    p #[strong Summary:] #{book.summary}
    p #[strong ISBN:] #{book.isbn}
    p #[strong Genre:]&nbsp;
        each val, index in book.genre
            a(href=val.url) #{val.name}
            if index < book.genre.length - 1
                | ,

    hr
    if book_instances.length

        p #[strong Delete the following Book Instances before attempting to delete this book.]

        div(style='margin-left:20px;margin-top:20px')

            h4 Book Instances
            dl
            each book_instance in book_instances
                br
                if book_instance.status == 'Available'
                    p.text-success #{book_instance.status}
                else if book_instance.status == 'Maintenance'
                    p.text-danger #{book_instance.status}
                else
                    p.text-warning #{book_instance.status}
                dt #[strong Imprint:] #{book_instance.imprint}
                dt #[strong ID:]
                    a(href=book_instance.url) #{book_instance._id}


    else
        p Do you really want to delete this Book ?

        form(method='POST' action='')
            div.form-group
                input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

            button.btn.btn-danger(type='submit') Delete